<h1 class="text-center jumbotron">Eat A Burger!</h1>
<br>
<br>
<div class="container">
    <div class="row">
        <div class = "col-lg-4">
        <div class="card">
            <h2 class="card-header text-center">Burgers Of the Past</h2>
            <img src="/assets/image/trash.jpeg" alt="Trash">
            <div class="row">
                <ul>
                    {{#each burgers}}
                        {{#unless uneaten}}
                            {{> burgers/burger-block uneat=true}}
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        </div>
        <br>
        <br>
        <div class = "col-lg-4">
        <div class="card">
            <h2 class="card-header text-center">Just Pick What You Want Already</h2>
            <img src="/assets/image/squid.png" alt="Squid">
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-6">
                            <label for="newBurger">Burger Name:</label>
                            <input type="text" id="newBurger" name="name">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                        <button class="btn btn-dark text-white text-center" type="submit" id="submit">Order Up, Squidward!</button>
                    </div>
                    <div class="col-lg-4"></div>
                    <br>
                    <br>
                </div>
            </form>
        </div>
        </div>
        <br>
        <br>
        <div class = "col-lg-4">
        <div class="card">
            <h2 class="card-header text-center">Burgers Of the Future</h2>
            <img src="/assets/image/patty.jpg" alt="Patty">
            <div class="row">
                <ul>
                    {{#each burgers}}
                        {{#if uneaten}}
                            {{> burgers/burger-block uneat=false}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>


